<template>
	<div>
		<h2>Articles</h2>
		<form class="mb-3" @submit.prevent="saveArticle()" >
			<div id="msg" v-if="messages.length">
				<b v-if="msg_type==='danger'">Please correct the following error(s)</b>
				<ul>
					<li v-bind:class="[{'alert-danger':msg_type==='danger', 'alert-success':msg_type==='success'}]" class="alert" v-for="message in messages">{{ message }}</li>
				</ul>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="title" placeholder="Enter title" v-model="article.title" />
			</div>
			<div class="form-group">
				<textarea class="form-control" name="body" placeholder="Enter body" v-model="article.body"></textarea>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-light btn-block">Save</button>
			</div>
		</form>
		<nav aria-label="Page navigation example">
		  <ul class="pagination">
		    <li v-bind:class="[{disabled:!pagination.prev_page_url}]" class="page-item"><a @click="fetchArticles(pagination.prev_page_url)" class="page-link" href="javascript:void(0)">Previous</a></li>
		    <li class="page-item disabled">
		    	<a class="page-link page-dark" href="#">Page {{pagination.current_page}}&nbsp; of {{pagination.last_page}}</a>
			</li>
		    <li v-bind:class="[{disabled:!pagination.next_page_url}]" class="page-item"><a @click="fetchArticles(pagination.next_page_url)" class="page-link" href="javascript:void(0)">Next</a></li>
		  </ul>
		</nav>
		<div class="card card-body mb-2" v-for="article in articles" v-bind:key="article.id">
			<h3>{{ article.title }}</h3>
			<p>{{ article.body }}</p>
			<button type="button" @click="showArticle(article.id)" class="btn btn-outline-success">Edit</button>
			<button type="button" @click="deleteArticle(article.id)" class="btn btn-outline-danger">Delete</button>
		</div>
	</div>
</template>

<script>
    export default {
    	/* return states */
    	data(){
    		return {
    			articles : [],
    			article : {
    				article_id : '',
    				title : '',
    				body : ''
    			},
    			msg_type : '',
    			messages : [],
    			pagination : {},
    			edit : false
    		}
    	},
    	/* run autometically when page load */
    	created(){
    		this.fetchArticles();
    	},
    	methods:{
    		fetchArticles(url){
    			let page_url = url || 'api/articles';
    			let ele = this;
    			fetch(page_url)
	    			.then(res => res.json())
	    			.then(res => {
	    				//console.log(res.data);
	    				this.articles = res.data;
	    				ele.makePagination(res.links, res.meta);
	    			})
	    			.catch(err => console.log(err));
    		},
    		makePagination(links, meta){
    			let pagination = {
    				current_page : meta.current_page,
    				last_page : meta.last_page,
    				next_page_url : links.next,
    				prev_page_url : links.prev
    			};
    			this.pagination = pagination;
    		},
    		deleteArticle(id){
    			if(confirm('Do you really wish to delete?')){
	    			fetch(`api/article/${id}`,{
	    				method : 'delete'
	    			}).then(res => res.json()).then(res => {
	    				alert("Article has been successfully removed !");
	    				this.fetchArticles();
	    			}).catch(err => console.log(err));
    			}
    		},
    		saveArticle(){
    			this.messages = [];
    			this.edit = this.article.article_id != ''?true:false;
    			/* validation */
    			if(this.article.title == ""){
    				this.messages.push("Please enter a title.");
    				this.msg_type = 'danger';
    			} 
    			if(this.article.body == ""){
    				this.messages.push("Please enter a body.");
    				this.msg_type = 'danger';
    			}

    			if(this.messages.length == 0){
    				let method = this.edit?'PUT':'POST';
	    			fetch('api/article',{
	    				method : method,
	    				headers: {
					      "content-type": "application/json; charset=UTF-8"
					    },
					    body: JSON.stringify(this.article)
	    			}).then(res => res.json()).then(res => {
	    				let msg = this.edit?"Article has been successfully updated.":"Article has been successfully added.";
	    				this.article.title='';
	    				this.article.body='';
	    				this.article.article_id='';
	    				this.msg_type = 'success';
	    				this.messages.push(msg);
	    				this.fetchArticles();
	    			}).catch(err => {
	    				//console.log(err);
	    				this.msg_type = 'danger';
	    				this.messages.push(err);
	    			});
    			}
    			setTimeout(function(messages){
    				while (messages.length) {
					    messages.pop();
				  	}
    			},5000,this.messages);
    		},
    		showArticle(id){
    			fetch(`api/article/${id}`,{
    				method : 'get'
    			}).then(res => res.json()).then(res => {
    				this.article.title = res.data.title;
    				this.article.body = res.data.body;
    				this.article.article_id = res.data.id;
    				this.edit = true;
    			}).catch(err => console.log(err));
    		}
    	},
    	/* called when custom html element replace with vue component */
        mounted() {
            console.log('Article mounted successfully.')
        }
    }
</script>